html {
  height: 100%;
}

body {
  --max-width: 1200px;
  background: #1c1c1c;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;

  main {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1em;
    display: grid;
    gap: 1.5em;

    h1 {
      font-size: 3em;
    }

    &.center {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  header {
    background: #2b2b2b;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

    .header-container {
      max-width: var(--max-width);
      margin: 0 auto;
      padding: 1em;

      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 2.5em;
      }

      ul {
        display: flex;
        gap: 1em;
        a {
          text-decoration: none;
          color: white;
          display: inline-block;
          padding: 0.7em 1em;
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
          background: #6d6d6d;
          transition: background 0.2s ease-in-out;
          border-radius: 25em;

          &:hover,
          &.active {
            background: #283d14;
          }
        }
      }
    }
  }
}
